################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FurrLife/FileContentIndex/05cbf58f-9e1d-43d3-b173-73bb6e5b42b4.vsidx
