@model IEnumerable<Menu>

<a href="javascript: void(0);" onclick="LoadProductsAll('Products','_ProductsAll')">All Items</a>
@foreach (var item in Model)
{
<a href="javascript: void(0);" onclick="LoadMenu('@item.Id','@item.Name','@item.Description')"><i class="mdi mdi-chevron-right me-1"></i> @item.Name</a>
}